@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-primary text-textPrimary overflow-x-hidden relative;
  }

  *,
  *::before,
  *::after {
    @apply box-border;
  }
}

@layer components {
  .nav-link {
    @apply text-textSecondary hover:text-secondary transition-colors duration-300;
  }

  .section-title {
    @apply text-3xl sm:text-4xl font-bold mb-8 text-textPrimary text-center;
  }

  .btn-primary {
    @apply px-6 py-3 bg-transparent border-2 border-secondary text-secondary rounded-md hover:bg-secondary/10 transition-colors duration-300;
  }
}

@layer base {

  html,
  body {
    overflow-x: hidden;
    position: relative;
  }
}